<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
   <script src="{{url_for('static', filename = 'js/jquery-3.3.1.js')}}" type="text/javascript"></script>
   <script src="{{url_for('static', filename = 'js/script.js')}}"></script>
   <script src="{{url_for('static', filename = 'js/canvasjs.min.js')}}"></script>
   <title>Skyline</title>
</head>
<body>

<div id='cssmenu'>
{% with messages = get_flashed_messages() %}
<ul>
   {%if user == 'waiter' %}
      <li class='active'><a href="{{url_for('get_menu')}}">Orders</a></li>
   {%endif%}
   {%if user == 'manager' %}
      <li class='active'><a href="{{url_for('get_menu')}}">Orders</a></li>
      <li><a href="{{url_for('get_inventory')}}">Inventory</a></li>
   {%endif%}
   {%if user == 'owner' %}
      <li class='active'><a href="{{url_for('get_menu')}}">Orders</a></li>
      <li><a href="{{url_for('get_inventory')}}">Inventory</a></li>
      <li><a href="{{url_for('get_cash')}}">Financials</a></li>
      <li><a href="{{url_for('get_setting')}}">Settings</a></li>
   {%endif%}
   <li><a href="{{url_for('home_page')}}">Exit</a></li>
   <li><a href='#'>Hello {{ user }}!</a></li>

</ul>
{% endwith %}
</div>

{% block content %}{% endblock %}




</body>
<html>
