@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
@import url(https://fonts.googleapis.com/css?family=Roboto);
 
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
#wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.background-wrap {
	position: fixed;
	z-index: -100;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
}

footer { 
    display: block;
    font-family: 'Montserrat';
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
}
			
#video-bg-elem {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	min-width: 100%;
}
.intro {
	height: 100%;
	width: 100%;
	margin: auto;
	display: table;
	top: 0;
	left: 0;
	background-size: cover;
	position: absolute;
}

.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 70%;
}

.content h1{
	font-family: 'Yantramanav', sans-serif;
	font-size: 900%;
	font-weight: 120;
	color: #fff;
	line-height: 0%;
	z-index: -200;
}

.button {
    background-color: transparent;
    font-family: 'Montserrat';
    color: white;
    border: 3px solid #555555;
    border-color: white;
    border-radius: 5px;
    padding: 16px 32px;
    text-decoration: none;
    transition: ease 0.5s;
    font-size: 110%;
    margin-bottom: 100px;
    top: 50px;

}

.button:hover {
    background-color: transparent;
    color: grey;
    border-color: grey;
}

/* MODAL */

.modal_container{
    width:100%;
    height:100%;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    background:rgba(211, 211, 211, 0.5);
    transition:all 500ms ease;
    overflow: hidden;
}

.modal_container:target{
    opacity:1;
    pointer-events: auto;
    transition: all 500ms ease;
}

.modal_container > div{
    transform: translate(0px, -50px);
	transition: all 500ms ease;
}

.modal_container:target > div{
    transform: translate(0px, 0px);
}


.modal{
    width:350px;
    height:230px;
    margin:auto;
    position: absolute;
    top:0px; bottom:297px;
    right:0px; left:0px;
    background:transparent;
    border:2px solid #444;
    padding:15px;
    box-shadow: 0px 0px 20px 5px grey;

}

.modal_heading{
    box-sizing: border-box;
    width:100%;
    display:block;
    height:60px;
    margin-bottom:30px;
    color:white;
    padding:10px;
    text-align: center;
    font-size:20pt;
    font-family: 'Montserrat';
    border-bottom: 2px solid #fefefe;
}

input{
    margin-bottom: 15px;
    padding:10px;
    width:100%;
    box-sizing: border-box;
    border-radius: 5px;
    height:50px;
    border:0px;
    font-family: 'Montserrat';
    font-size: 11pt;
    text-align: center;
}

.btnRegister{
    background:white;
    color:black;
    font-size:15pt;
    margin-top:10px;
}
.btnRegister:hover{
    background:#72bcd4;
    transition: ease 500ms;
}
.close{
    color:white;
    position: absolute;
    font-family: 'Montserrat';
    text-decoration: none;
    font-size: 150%;
    top:-20px;
    right:-20px;
    transition: background 500ms;
}

.close:hover{
    color: black;
    cursor:pointer;
    transition: ease 500ms;
}

.signin{
    color:white;
    display:inline-block;
    margin-top:15px;
    text-align: left;
    float:left;
    text-decoration: none;
    font-size: 13pt;
}
.forgotPassword{
    color:#222;
    display:inline-block;
    margin-top:15px;
    text-align: right;
    float:right;
    text-decoration: none;
    font-size: 13pt;
    font-family: 'Montserrat';
}

.signin:hover, .forgotPassword:hover{
    text-decoration: underline;
    color: #000;

}


/*--- Media Queries --*/
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {
	
}